node_modules/
dist/
out/
*.zip
.DS_Store
coverage/
.env
*.log
.apify/
storage/*
!storage/key_value_stores/
storage/key_value_stores/*
!storage/key_value_stores/default/
storage/key_value_stores/default/*
!storage/key_value_stores/default/INPUT.json
.cursor/